@font-face {
   font-family: 'Glyphicons Halflings';
   src: url('#{request.contextPath}/resources/bootstrap/fonts/glyphicons-halflings-regular.eot');
   src: url('#{request.contextPath}/resources/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-halflings-regular.woff') format('woff'), url('glyphicons-halflings-regular.ttf') format('truetype'), url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
h:body{
	color: blue;
	overflow-x: hidden;
	overflow-y: hidden;	
}
			
			h1 {
				color: blue;
				font-size: 26px;
			}
			
			aside.form p {
				color: blue;
				font-weight: bold;				
			}
			
			aside.form input {
				/*display: inline;*/
			}
			input.form-control{
				display: inline-block;
			}
			
			a.alteraDados{				
				color:orange;
				text-decoration: none;
			}
			a.alteraDados:hover{				
				color:orange !important;
				text-decoration: none;
			}
			aside.form{
				height: 100vh;				
			}
			
			aside.presentation{
				background-color:orange;
				color: white;
				height: 100vh;
			}
			aside b {
				color: blue;		
				font-weight: normal;		
			}		
			
			.disabled{
				color: #999;
				padding: 2px;
			}
			
			.enable{
				color: yellow;
				padding: 2px;
			}
			
			.one:hover{
				color:yellow;
			}
			
			.one, .two:hover{
				color:yellow;
			}
				
			footer{
				height: 10vh;
			}
			.btn.btn-default{
				background:#0000cc; 
				color:white;
			}
			h3.user{
				font-size: 18px;
				font-weight: bold;
			}
			p.text-box {
				background-color: blue;				
				display: inline;
			}	
			
			/** Editando estrelas  **/
			.disabled {
				display: none;
			}
			
			.stars label i:before {	
				float: left;
				display: inline;
				content: '\f005';
				color: yellow;
			}
			
			
			.disabled ~ .stars label i:before{
				color: #999;
			}
			/** Editando estrelas  **/
			
			@media only screen and (max-width: 576px){
				nav{
					background: orange;				
				}
				div.logo-header {
					width: 190px;
					display: inline-block;
				}
				div.link{
					text-align: right;
				}
				img.mobile-img{
					display: block;
				}
				.far.fa-circle{
					color: blue;
				}
			}